@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    background-color: rgb(6, 57, 101);
    font-family: Roboto, sans-serif;
    font-size: 3em;
    
    display: flex;
    justify-content: center;
    flex-direction: column;



}


.nav-bar{
    display: flex;

    justify-content: flex-end;
    color: white;
    gap: 30px;
    align-items: center;
    margin: 100px;
    justify-content: space-between;

}

.header-logo{
    margin-right: auto;
    font-weight: bold;
    font-size: larger;
    padding: 10px;

}

.top-content{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    margin: 150px;
    color: white;

}

.top-content-info{
            width: 1500px;
}
.top-content-heading{
        font-weight: bold;
        font-size: 160px;
        color: white;
        text-wrap: balance;
        margin-bottom: 100px;

}
.top-content-text{
        display: flex;
        flex-direction: column;   
        margin-bottom: 70px;
        margin-top: 70px;
    }

.top-content button{
    background-color: blue;
    color: white;
    padding: 15px;
    font-size: 50px;
    width: 300px;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 10px;
}
.top-content-info{
    margin-bottom: 50px;
}

.top-content button:hover{
    background-color: grey;
    color: white;
    
}

.top img{
    width: 1000px;
    height: 800px;
}


.rndm-info-list{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 150px;
    
}
.rndm-info-item{
    max-width: 400px;   
    justify-content: center;
    text-align: center;
}
.rndm-info h2{
    text-align: center;
    margin: 100px;
}

.rndm-info img{
    width: 350px;
    height: 350px;
    border: 3px solid blue ;
    border-radius: 20px;
}

.rndm-info{
    background-color: white;
    width: 100%

}

.rndm-info-caption{
    text-align: center;
    text-wrap: wrap;
}

.quote{
    
    flex-direction: column;
    background-color: rgb(222, 218, 218);
    color: black;
    display: flex;
    align-items: center;

}

.quote h2{
    text-align: center;
    font-size: 80;
    width: 2000px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: lighter;
    font-style: italic;
}

.quote p{
    text-align: end;
    margin-bottom: 100px;
    font-weight: bold;
    margin-left: 1800px;
    

}