@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{

    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    font-size: 3em;

    display: flex;
    justify-content: center;
    flex-direction: column;



}


.nav-bar{
    display: flex;
    justify-content: flex-end;
    color: #F9FAF8;
    gap: 30px;
    align-items: center;
    margin: 100px;
    justify-content: space-between;

}


.header-logo{
    margin-right: auto;
    font-weight: bold;
    font-size: 24px;
    font-size: larger;
    padding: 10px;
    color: #F9FAF8;

}

.header-link{
    font-size: 18px;
}
.top-content{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    margin: 150px;
    color: white;

}

.top-content-info{
            width: 500px;
}
.top-content-heading{
        font-weight: 900;
        font-size: 48px;
        color: #F9FAF8;
        text-wrap: balance;
        margin-bottom: 100px;

}
.top-content-text{
        display: flex;
        flex-direction: column; 
        font-size: 18px;
        color: #E5E7EB;  
        margin-bottom: 70px;
        margin-top: 70px;
    }

.top-content button{
    background-color: #3882F6;
    color: white;
    padding: 15px;
    font-size: 18px;
    width: 300px;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 10px;
}
.top-content-info{
    margin-bottom: 50px;
}

.top-content button:hover{
    background-color: grey;
    color: white;
    
}

.top img{
    width: 700px;
    height: 300px;
}


.rndm-info-list{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 150px;
    margin: 100px;

}

.rndm-info-item{
    max-width: 400px;   
    justify-content: center;
    text-align: center;
}

.rndm-info h2{
    text-align: center;
    margin: 100px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.rndm-info img{
    width: 150px;
    height: 150px;
    border: 3px solid blue ;
    border-radius: 20px;
}

.rndm-info{
    background-color: white;
    /* width: 100%; */
    

}

.rndm-info-caption{
    text-align: center;
    text-wrap: wrap;
    font-size: 18px;
}

.quote{
    
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    align-items: center;

}

.quote h2{
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: lighter;
    font-style: italic;
}

.quote p{
    text-align: end;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 700px;
    

}

.cta{
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.cta-btn{
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    margin: 50px;
}
.cta-btn button{
    margin: 50px;
    font-size: 18px;
    border: solid 1px white;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 20px;
    width: 200px;
    border-radius: 30px;
    margin-right: 200px;
}

.cta-btn-text{
    color: #E5E7EB;
    align-content: center;
    font-size: 25px;
    margin-left: 200px;

}

.cta-btn-text-action{
    font-weight: 900;
    margin-bottom: 10px;
}

footer{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 16px;
    text-align: center;
    align-content: center;
    height: 100px;
}