@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body{
    margin: 0px;
    padding: 0px;

    background-color: rgb(6, 57, 101);
    font-family: Roboto;
    font-size: 3em;
    
    display: flex;

    border: solid 2px white;
}


.nav-bar{
    display: flex;
    flex: 1;

    justify-content: flex-end;
    color: white;
    gap: 30px;
    align-items: center;
    margin: 100px;
    justify-content: space-between;
    border: white 2px solid;

}

.header-logo{
    margin-right: auto;
    font-weight: bold;
    font-size: larger;
    padding: 10px;

}

.top-content button{
    background-color: white;
    color: black;
}


.top-content{
    color: white;
}

.top-content-heading{
        font-weight: bold;
        font-size: 70px;
        color: white;

}

.top-content-info{

}

.top-content button:hover{
    background-color: grey;
    color: white;
    
}

.top img{
    width: 500px;
    height: 500px;
}